<div class="editor-container">
  <div class="header">
    <span *ngIf="placeholder" class="tip">{{ placeholder }}</span>
    <button mat-button (click)="copyToClipboard()" aria-label="Copy to clipboard">
      <mat-icon>content_copy</mat-icon>
      Copy to clipboard
    </button>
    <!-- Show the copied status if isCopied is true -->
    <p *ngIf="isCopied" class="copied-status">
      <mat-icon>check_circle</mat-icon> Copied
    </p>
  </div>

  <ngs-code-editor [theme]="theme" [codeModel]="codeModel!" [readOnly]="readonly" [options]="options" (valueChanged)="onCodeChanged($event)">
  </ngs-code-editor>
</div>