<button mat-fab mat-success (click)="addRemoteServer()" matTooltip="New Remote Server" *ngIf="(loggedInUser$ | async)">
  <mat-icon fontIcon="add"></mat-icon>
</button>
<div class="remote-server-container">
  <h2>Remote Server Dashboard</h2>
  <div class="dropdown-container">
    <label for="server-select">Select Remote Server:</label>
    <div class="select-with-actions">
      <select id="server-select" (change)="onSelectServer($event)">
        <option *ngFor="let server of remoteServers" [value]="server.id" [selected]="server.id === selectedServer?.id">
          {{ server.name }} ({{ server.ipAddress }})
        </option>
      </select>
      <button *ngIf="selectedServer" mat-icon-button color="warn" class="delete-button" (click)="deleteRemoteServer(selectedServer.id!)" matTooltip="Delete Server">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="stats-container" *ngIf="selectedServer && selectedServer.remoteServerStats">
    <h3>Server Statistics</h3>
    <div class="stat">
      <span class="label">Hostname:</span>
      <span class="value">{{ selectedServer.remoteServerStats.hostname }}</span>
    </div>
    <div class="stat">
      <span class="label">Operating System:</span>
      <span class="value">
        {{ selectedServer.remoteServerStats.osName }} ({{ selectedServer.remoteServerStats.osVersion }})
      </span>
    </div>
    <div class="stat">
      <span class="label">Memory Usage:</span>
      <span class="value">
        {{ selectedServer.remoteServerStats.usedRam }} GB / {{ selectedServer.remoteServerStats.totalRam }} GB
      </span>
    </div>
    <div class="stat">
      <span class="label">CPU Usage:</span>
      <span class="value">{{ selectedServer.remoteServerStats.cpuUsagePercent }}%</span>
    </div>
    <div class="stat">
      <span class="label">Disk Space:</span>
      <span class="value">
        {{ selectedServer.remoteServerStats.usedDiskSpace }} GB used out of
        {{ selectedServer.remoteServerStats.totalDiskSpace }} GB
      </span>
    </div>
    <div class="stat" *ngIf="selectedServer?.remoteServerStats?.uptime != null">
      <span class="label">Uptime:</span>
      <span class="value">{{ selectedServer.remoteServerStats.uptime! | duration }}</span>
    </div>
    <div class="stat">
      <span class="label">Status:</span>
      <span class="value">{{ selectedServer.remoteServerStats.status }}</span>
    </div>
  </div>
  <div class="no-stats" *ngIf="selectedServer && !selectedServer.remoteServerStats">
    <p>No statistics available for selected server.</p>
  </div>
</div>