<button mat-fab mat-success (click)="addTeam()" matTooltip="New Team" *ngIf="(loggedInUser$ | async)">
  <mat-icon fontIcon="add"></mat-icon>
</button>

<div *ngIf="teams.length > 0; else noTeams">
  <div *ngFor="let team of teams">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ team.name }}</h5>
        <p class="card-text">{{ team.description }}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #noTeams>
  <div class="no-teams">
    <p>No teams available.</p>
  </div>
</ng-template>