<div class="lab-container">
  <div class="lab-card" *ngFor="let labTracker of labTrackers$ | async" @fadeIn>
    <div class="card-header" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <h3>{{ labTracker.labStarted?.name }}</h3>
      <h5>{{ labTracker.labStarted?.labType }}</h5>
      <span class="status-badge" [ngClass]="labTracker.labStatus?.toLowerCase()">
        @if (labTracker.remoteServer?.remoteServerStats?.status != LabStatus.OFFLINE) {
        {{ labTracker.labStatus }}
        } @else {
        {{ labTracker.remoteServer?.remoteServerStats?.status }}
        }
      </span>
    </div>

    <div class="card-content">
      <div class="info-grid">
        <div class="info-item">
          <span class="label">ID:</span>
          <span class="value">{{ labTracker.id }}</span>
        </div>
        <div class="info-item">
          <span class="label">Owner:</span>
          <span class="value">{{ labTracker.labOwner?.name }}</span>
        </div>
        <div class="info-item">
          <span class="label">Remote Server:</span>
          <span class="value">{{ labTracker.remoteServer?.name || 'N/A' }}</span>
        </div>
        <div class="info-item">
          <span class="label">Created:</span>
          <span class="value">{{ labTracker.labStarted?.createdAt ? formatDate(labTracker.labStarted?.createdAt!) :
            'N/A' }}</span>
        </div>
        <div class="info-item">
          <span class="label">Last Modified:</span>
          <span class="value">{{ labTracker.labStarted?.updatedAt ? formatDate(labTracker.labStarted?.updatedAt!) :
            'N/A' }}</span>
        </div>
        <div class="info-item" *ngIf="labTracker.labStatus != LabStatus.STOPPED">
          <span class="label">Services ({{runningServices(labTracker).length}}/{{ labTracker.services?.length
            }}):</span>
          <ul *ngIf="labTracker.labStarted?.labType == LabType.DOCKER_COMPOSE">
            <li class="value" *ngFor="let service of labTracker.services"
              [ngClass]="service.state == 'running' ? 'running' : 'exited'"> {{ service.name.replace(labTracker.id +
              "-", "") }} - {{ service.state }} <button class="restart-service" *ngIf="service.state != 'running'" (click)="restartService(service)"
                matTooltip="Delete Lab"><mat-icon>replay</mat-icon></button>
            </li>
          </ul>
          <ul *ngIf="labTracker.labStarted?.labType == LabType.VIRTUAL_MACHINE">
            <li class="value" *ngFor="let vm of labTracker.vms"
              [ngClass]="vm.status == 'running' ? 'running' : 'exited'"> {{ vm.name!.replace(labTracker.id +
              "-", "") }} - {{ vm.status }} - {{ vm.vmid }}<button class="restart-service" *ngIf="vm.status != 'running'" (click)="('')"
                matTooltip="Delete Lab"><mat-icon>replay</mat-icon></button>
            </li>
          </ul>
        </div>
      </div>

      <div class="settings-link" *ngIf="labTracker.labStatus !== 'NONE'">
        <a [routerLink]="['/lab/settings', formatLabName(labTracker.labStarted?.name!)]"
          [queryParams]="{ id: labTracker.id }">
          <mat-icon>settings</mat-icon> Configure
        </a>
        <a *ngIf="labTracker.labStatus != LabStatus.STOPPED"
          (click)="refreshLabTracker(labTracker)"><mat-icon>refresh</mat-icon> Refresh</a>
      </div>
    </div>

    <div class="card-actions">
      <div *ngIf="isLoadingState$ | async" class="loading-spinner">
        <mat-spinner diameter="24"></mat-spinner>
        <span>Processing...</span>
      </div>

      <ng-container *ngIf="!(isLoadingState$ | async) && user">
        @if (labTracker.remoteServer?.remoteServerStats?.status != LabStatus.OFFLINE) {
        <!-- Querying state -->
        <button mat-flat-button class="action-btn querying" *ngIf="isLabLoading(labTracker.id)">
          <mat-icon>hourglass_empty</mat-icon>
          Querying
        </button>

        <!-- Redeploy button -->
        <button mat-flat-button class="action-btn start" (click)="redeployLab(labTracker)"
          [disabled]="!labTracker.labStarted?.ready" *ngIf="!isLabLoading(labTracker.id) && 
              (labTracker.labStatus === 'STOPPED' || 
               labTracker.labStatus === 'NONE' || 
               labTracker.labStatus === 'FAILED')">
          <mat-icon>play_arrow</mat-icon>
          Start
        </button>

        <!-- Settings button -->
        <button mat-flat-button class="action-btn settings" (click)="getSettings(labTracker)" *ngIf="!isLabLoading(labTracker.id) && 
               labTracker.labStarted?.labType === LabType.DOCKER_COMPOSE">
          <mat-icon>settings</mat-icon>
          Settings
        </button>

        <!-- Logs button -->
        <ng-container *ngIf="!isLabLoading(labTracker.id) && labTracker.labStatus !== 'STOPPED'">
          <button mat-flat-button class="action-btn logs" (click)="getLogs(labTracker)" *ngIf="!isLabLoading(labTracker.id) && 
              labTracker.labStarted?.labType === LabType.DOCKER_COMPOSE">
            <mat-icon>description</mat-icon>
            Logs
          </button>
        </ng-container>

        <!-- Active lab buttons -->
        <ng-container
          *ngIf="!isLabLoading(labTracker.id) && (labTracker.labStatus === 'ACTIVE' || labTracker.labStatus === 'DEGRADED')">
          <button mat-flat-button class="action-btn stop" (click)="stopLab(labTracker)">
            <mat-icon>stop</mat-icon>
            Stop
          </button>
        </ng-container>

        <!-- Offline button -->
        <button mat-flat-button class="action-btn offline" disabled
          *ngIf="!isLabLoading(labTracker.id) && labTracker.labStatus === 'OFFLINE'">
          <mat-icon>cloud_off</mat-icon>
          Offline
        </button>

        <!-- Stopped state buttons -->
        <ng-container *ngIf="!isLabLoading(labTracker.id) && (labTracker.labStatus === 'STOPPED' || labTracker.labStatus === 'FAILED')">
          <button mat-flat-button class="action-btn delete" (click)="deleteLab(labTracker)">
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </ng-container>
        } @else {
        <!-- Failed button -->
        <button mat-flat-button class="action-btn failed" disabled>
          <mat-icon>error</mat-icon>
          SERVER {{ labTracker.remoteServer?.name }} OFFLINE
        </button>
        }
      </ng-container>
    </div>
  </div>
</div>