@use "sass:color";
@use "../mixins/color-config";

$themes: (
    light: (
        bgColor: #FFF,
        bgColorDim: color-config.color('neutral-tint-80', color-config.$light),
        bgColorLight: color-config.color('neutral-tint-95', color-config.$light),
        bgColorLight2: color.adjust(color-config.color('neutral-tint-95', color-config.$light), $lightness: -3%),
        bgColorLight3: color-config.color('neutral-tint-90', color-config.$light),
        bgColorDark: color.adjust(color-config.color('neutral-tint-95', color-config.$light), $lightness: -3%),
        bgColorDark2: color.adjust(color-config.color('neutral-tint-90', color-config.$light), $lightness: -1%),
        borderColor: color-config.color('neutral-tint-85', color-config.$light),
        buttonColor: color.adjust(color-config.color('neutral-tint-95', color-config.$light), $lightness: -3%),
        colorAccent: color-config.color('orange', color-config.$light),
        colorActive: color-config.color('primary', color-config.$light),
        colorAlert: color-config.color('yellow', color-config.$light),
        colorDisabled: color-config.color('neutral-tint-90', color-config.$light),
        colorFocus: color-config.color('primary-tint-60', color-config.$light),
        colorPrimary: color-config.color('primary', color-config.$light),
        colorHighlight: color-config.color('primary', color-config.$light),
        colorHover: color-config.color('primary-tint-90', color-config.$light),
        colorSelected: color-config.color('blue-tint-90', color-config.$light),
        colorSuccess: color-config.color('green', color-config.$light),
        colorWarn: color-config.color('red', color-config.$light),
        fontSize: 12px,
        fontSizeH1: 2.6em,
        fontSizeH2: 2.2em,
        headerColor: color-config.color('neutral-tint-10', color-config.$light),
        inputBgColor: #FFF,
        inputBorderColor: color-config.color('neutral-tint-85', color-config.$light),
        inputBorderColorAlt: color-config.color('neutral-tint-85', color-config.$light),
        popoverBgColor: #FFF,
        progressBgColor: color-config.color('primary-tint-85', color-config.$light),
        progressBarBgColor: color-config.color('primary-tint-30', color-config.$light),
        textColor: color-config.color('neutral', color-config.$light),
        textColorDisabled: color-config.color('neutral-tint-40', color-config.$light),
        textColorHeader: color-config.color('neutral', color-config.$light),
        textColorHyperlink: color-config.color('blue', color-config.$light),
        textColorLight: color-config.color('neutral-tint-40', color-config.$light),
        shadowColor: color-config.color('neutral-tint-80', color-config.$light),
        sidebarColor: color-config.color('neutral-tint-90', color-config.$light)
    ),
    dark: (
        bgColor: color-config.color('neutral-tint-15', color-config.$dark),
        bgColorDim: color-config.color('neutral-shade-15', color-config.$dark),
        bgColorLight: color-config.color('neutral-tint-20', color-config.$dark),
        bgColorLight2: color-config.color('neutral-tint-25', color-config.$dark),
        bgColorLight3: color-config.color('neutral-tint-30', color-config.$dark),
        bgColorDark: color.adjust(color-config.color('neutral-tint-15', color-config.$dark), $lightness: -3%),
        bgColorDark2: color.adjust(color-config.color('neutral-tint-10', color-config.$dark), $lightness: -2%),
        borderColor: color-config.color('neutral-tint-25', color-config.$dark),
        buttonColor: color-config.color('primary', color-config.$dark),
        colorAccent: color-config.color('blue', color-config.$dark),
        colorActive: color-config.color('yellow', color-config.$dark),
        colorAlert: color-config.color('orange', color-config.$dark),
        colorDisabled: color-config.color('neutral-tint-5', color-config.$dark),
        colorFocus: color-config.color('primary-tint-40', color-config.$dark),
        colorHighlight: color-config.color('yellow', color-config.$dark),
        colorHover: color-config.color('primary-tint-5', color-config.$dark),
        colorPrimary: color-config.color('primary', color-config.$dark),
        colorSelected: color-config.color('primary', color-config.$dark),
        colorSuccess: color-config.color('green', color-config.$dark),
        colorWarn: color-config.color('red-tint-10', color-config.$dark),
        fontSize: 13px,
        fontSizeH1: 2em,
        fontSizeH2: 1.4em,
        inputBgColor: color-config.color('neutral-tint-20', color-config.$dark),
        inputBorderColor: color-config.color('neutral-tint-20', color-config.$dark),
        inputBorderColorAlt: color-config.color('neutral-tint-50', color-config.$dark),
        popoverBgColor: color-config.color('neutral-tint-10', color-config.$dark),
        progressBgColor: color-config.color('neutral-tint-35', color-config.$light),
        progressBarBgColor: color-config.color('yellow-tint-20', color-config.$light),
        textColor: #FFF,
        textColorDisabled: color-config.color('neutral-tint-40', color-config.$dark),
        textColorHeader: color-config.color('neutral-tint-70', color-config.$dark),
        textColorHyperlink: color-config.color('blue-tint-30', color-config.$dark),
        textColorLight: color-config.color('neutral-tint-70', color-config.$dark),
        shadowColor: color-config.color('neutral', color-config.$dark),
        sidebarColor: color-config.color('neutral', color-config.$dark)
    ),
);
