$themes: (
    light: (
        bgColor: #FFF,
        bgColorDim: color('neutral-tint-80', $light),
        bgColorLight: color('neutral-tint-95', $light),
        bgColorLight2: darken(color('neutral-tint-95', $light), 3%),
        bgColorLight3: color('neutral-tint-90', $light),
        bgColorDark: darken(color('neutral-tint-95', $light), 3%),
        bgColorDark2: darken(color('neutral-tint-90', $light), 1%),
        borderColor: color('neutral-tint-85', $light),
        buttonColor: darken(color('neutral-tint-95', $light), 3%),
        colorAccent: color('orange', $light),
        colorActive: color('primary', $light),
        colorAlert: color('yellow', $light),
        colorDisabled: color('neutral-tint-90', $light),
        colorFocus: color('primary-tint-60', $light),
        colorPrimary: color('primary', $light),
        colorHighlight: color('primary', $light),
        colorHover: color('primary-tint-90', $light),
        colorSelected: color('blue-tint-90', $light),
        colorSuccess: color('green', $light),
        colorWarn: color('red', $light),
        fontSize: 12px,
        fontSizeH1: 2.6em,
        fontSizeH2: 2.2em,
        headerColor: color('neutral-tint-10', $light),
        inputBgColor: #FFF,
        inputBorderColor: color('neutral-tint-85', $light),
        inputBorderColorAlt: color('neutral-tint-85', $light),
        popoverBgColor: #FFF,
        progressBgColor: color('primary-tint-85', $light),
        progressBarBgColor: color('primary-tint-30', $light),
        textColor: color('neutral', $light),
        textColorDisabled: color('neutral-tint-40', $light),
        textColorHeader: color('neutral', $light),
        textColorHyperlink: color('blue', $light),
        textColorLight: color('neutral-tint-40', $light),
        shadowColor: color('neutral-tint-80', $light),
        sidebarColor: color('neutral-tint-90', $light)
    ),
    dark: (
        bgColor: color('neutral-tint-15', $dark),
        bgColorDim: color('neutral-shade-15', $dark),
        bgColorLight: color('neutral-tint-20', $dark),
        bgColorLight2: color('neutral-tint-25', $dark),
        bgColorLight3: color('neutral-tint-30', $dark),
        bgColorDark: darken(color('neutral-tint-15', $dark), 3%),
        bgColorDark2: darken(color('neutral-tint-10', $dark), 2%),
        borderColor: color('neutral-tint-25', $dark),
        buttonColor: color('primary', $dark),
        colorAccent: color('blue', $dark),
        colorActive: color('yellow', $dark),
        colorAlert: color('orange', $dark),
        colorDisabled: color('neutral-tint-5', $dark),
        colorFocus: color('primary-tint-40', $dark),
        colorHighlight: color('yellow', $dark),
        colorHover: color('primary-tint-5', $dark),
        colorPrimary: color('primary', $dark),
        colorSelected: color('primary', $dark),
        colorSuccess: color('green', $dark),
        colorWarn: color('red-tint-10', $dark),
        fontSize: 13px,
        fontSizeH1: 2em,
        fontSizeH2: 1.4em,
        inputBgColor: color('neutral-tint-20', $dark),
        inputBorderColor: color('neutral-tint-20', $dark),
        inputBorderColorAlt: color('neutral-tint-50', $dark),
        popoverBgColor: color('neutral-tint-10', $dark),
        progressBgColor: color('neutral-tint-35', $light),
        progressBarBgColor: color('yellow-tint-20', $light),
        textColor: #FFF,
        textColorDisabled: color('neutral-tint-40', $dark),
        textColorHeader: color('neutral-tint-70', $dark),
        textColorHyperlink: color('blue-tint-30', $dark),
        textColorLight: color('neutral-tint-70', $dark),
        shadowColor: color('neutral', $dark),
        sidebarColor: color('neutral', $dark)
    ),
);
