// TODO: below is support for SG apps; should use classified background classes instead
@include themifyColor(hiSide, background, $classified-high);
@include themifyColor(uFouo, background, $classified-low);

$banner-height: 15px;

.banner {
  align-items: center;
  color: #000;
  display: flex;
  font-family: $font-family-heavy;
  height: $banner-height;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

.banner-container {
  height: 100%;

  &.three-banners {
    .app-container {
      height: calc(100% - #{$banner-height * 3});
    }
  }

  &.two-banners {
    .app-container {
      height: calc(100% - #{$banner-height * 2});
    }
  }

  &.one-banner {
    .app-container {
      height: calc(100% - #{$banner-height * 2});
    }
  }
}
