.divider {
    @include themify($themes) {
        border-bottom-color: lighten(themed('borderColor'), 5%);
    }
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    margin: #{$gutter * 1.4} 0 #{$gutter * 2} 0;

    .divider-text {
        @include themify($themes) {
            background: themed('bgColor');
            color: themed('textColorLight');
        }
        font-size: $font-sm;
        margin-bottom: -.65em;
        padding: 0 $gutter-half;
        text-transform: uppercase;
    }
}