.list {
    list-style-type: circle;
    margin-left: #{$gutter * 2};
}

.list-draggable {
    li {
        @include themify($themes) {
            background: themed('bgColorDark');
        }
        @include border-radius();
        cursor: default !important;
        display: flex;
        line-height: 1em;
        margin: $gutter 0;
        padding: $gutter;

        .drag-handle {
            @include themify($themes) {
                color: themed('textColorLight') !important;
            }
            cursor: move;
            line-height: $gutter;
            width: 2em;

            .mat-icon {
                width: .14em !important;
            }
        }

        .drag-label {
            @include themify($themes) {
                color: themed('textColorLight') !important;
            }
            font-size: $font-sm;
            text-transform: uppercase;
        }

        &.dnd-sortable-drag {
            @include themify($themes) {
                @include shadow(themed('shadowColor'), 1px, 2px, 3px, 0);
                border-color: darken(themed('colorActive'), 20%) !important;
            }
            opacity: .8 !important;
            border: 1px solid !important;
        }
    }

    &.horizontal {
        li {
            display: inline-flex;
            margin: $gutter-half;
        }
    }

    &.dense {
        li {
            padding: $gutter-half;

            .drag-handle {
                width: 1.3em;

                .mat-icon {
                    &:first-child {
                        margin-left: -$gutter-min;
                    }
                }
            }
        }
    }
}

.list-item {
    li {
        @include themify($themes) {
            border-bottom-color: themed('borderColor');
        }
        border-bottom: 1px solid;
        padding: $gutter-half;
    }
}

.list-linear {
    display: flex;

    li {
        align-items: center;
        flex: 0 0 auto;
        padding: 0 $gutter-half;

        &:first-child {
            padding-left: 0 !important;
        }
        &:last-child {
            padding-right: 0 !important;
        }
    }

    &.li-separators {
        li {
            @include themify($themes) {
                border-right-color: themed('borderColor');
            }
            border-right: 1px solid;
            padding: 0 $gutter;

            &:last-child {
                border-right: none;
            }
        }
    }
}
