.mat-list,
.mat-list-base,
.mat-nav-list,
.mat-selection-list {
    // overrides
    padding-top: 0 !important;

    .mat-subheader {
        @include themify($themes) {
            color: themed('textColorLight');
            font-weight: themed('fontWeight');
        }
        text-transform: uppercase;

        // overrides
        font-size: $font-sm;
        height: auto !important;
        padding: 0 0 $gutter-min $gutter;

        &:first-child {
            margin-top: 0 !important;
        }
    }

    .mat-list-item,
    .mat-list-option {
        @include themify($themes) {
            border-bottom-color: themed('borderColor');
            color: themed('textColor');
            font-size: themed('fontSize');
        }
        border-bottom: 1px solid;
        height: auto !important;
        padding: $gutter-half !important;

        &.mat-list-item-with-avatar {
            .mat-list-text {
                padding-left: 0 !important;
            }
        }

        .mat-list-item-content {
            // overrides
            padding: 0 !important;
        }

        .mat-list-text {
            h3 {
                // added
                font-size: $font-lg !important;
                margin-bottom: $gutter-min !important;
            }

            a {
                &.mat-line {
                    // added
                    @include themify($themes) {
                        color: themed('textColor');
                    }
                    align-items: center;
                    display: flex;
                }
            }

            .mat-line {
                &:nth-child(n+2) {
                    @include themify($themes) {
                        color: themed('textColorLight');
                        font-size: themed('fontSize');
                    }
                }
            }
        }

        .mat-icon-button {
            margin: -$gutter 0;
        }

        .mat-list-icon {
            // added
            @include themify($themes) {
                background-color: themed('bgColorLight') !important;
                color: themed('textColorLight') !important;
            }
            color: #FFF;
            margin-right: $gutter-half;

            // overrides
            height: $font-3x;
            font-size: $font-3x;
            width: $font-3x;
        }

        .mat-divider {
            // overrides
            display: none;
        }

        &.mat-2-line {
            // overrides
            height: auto;
        }
    }

    &[dense] {
        // ovrerides
        padding-top: 0;

        .mat-subheader {
            @include themify($themes) {
                font-weight: themed('fontWeight');
            }
            font-size: $font-sm;
            height: auto;
            padding: 0 0 $gutter-half $gutter-half;

            &:first-child {
                // ovrerides
                margin-top: 0;
            }
        }

        .mat-list-item {
            @include themify($themes) {
                font-size: themed('fontSize');
            }
            border-bottom: none;
            height: auto;
            padding: $gutter-half;

            .mat-list-item-content {
                // overrides
                padding: 0;

                .mat-list-text {
                    h3 {
                        @include themify($themes) {
                            font-size: themed('fontSize') !important;
                        }
                    }
                }
            }
                
            &.mat-2-line {
                // overrides
                height: auto;
            }    
        }
    }    
}

.mat-nav-list {
    .mat-list-item {
        &:hover {
            // added
            @include themify($themes) {
                background-color: themed('colorHover');
            }
        }
    }
}

.mat-selection-list {
    .mat-list-item {
        &.mat-list-item-focus {
            @include themify($themes) {
                background-color: themed('colorHover');
            }
        }
    }
    .mat-list-item-disabled {
        @include themify($themes) {
            background-color: themed('colorDisabled') !important;
        }

        .mat-list-text {
            @include themify($themes) {
                color: themed('textColorDisabled');
            }
        }
    }
}