.mat-paginator-container {
  height: auto;
  min-height: auto !important;
  padding: #{$gutter * 2} 0 !important;

  .mat-paginator-page-size {
    align-items: center !important;
    margin-right: $gutter !important;

    .mat-paginator-page-size-label {
      margin: 0 $gutter-half 0 0 !important;
      white-space: nowrap;
    }
    .mat-paginator-page-size-select {
      height: 2em;
      margin: 0 !important;
      padding-top: 0;
      width: 4em !important;
    }
  }
  .mat-paginator-range-actions {
    .mat-paginator-range-label {
      margin: 0 $gutter !important;
    }
  }
}