.base-table {
  border-spacing: 0;
  width: 100%;

  tr {
    td, th {
      @include themify($themes) {
        border-bottom-color: themed('borderColor');
        border-right-color: themed('borderColor');
      }
      border-bottom: 1px solid;
      border-right: 1px solid;
      padding: $gutter $gutter-half;
    }

    th {
      @include themify($themes) {
        border-bottom-color: darken(themed('borderColor'), 12%);
      }
      font-family: $font-family-heavy;
    }

    &:last-child {
      td {
        @include themify($themes) {
          border-bottom-color: darken(themed('borderColor'), 12%);
        }

      }
    }
  }

  &.dense {
    tr {
      td, th {
        padding: $gutter-half $gutter-min;
      }
    }
  }
}
