@use "sass:color";
@use "../themes/theme-settings";
@use "../variables/style";
@use "themify";

$border-sides: bottom, left, right, top;

@mixin border-radius($radius: style.$border-radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-top-radius($radius: style.$border-radius) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin border-right-radius($radius: style.$border-radius) {
    -webkit-border-top-right-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-radius-topright: $radius;
    -moz-border-radius-bottomright: $radius;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin border-bottom-radius($radius: style.$border-radius) {
    -webkit-border-bottom-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-bottomright: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius: style.$border-radius) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin make-borders() {
    .border,
    .border-dark,
    .border-light {
        border: 1px solid                                               !important;
    }

    .border {
        @include themify.themify(theme-settings.$themes) {
            border-color:       themify.themed('borderColor')                   !important;
        }
    }

    .border-dark {
        @include themify.themify(theme-settings.$themes) {
            border-color:       color.adjust(themify.themed('borderColor'), $lightness: -12%)       !important;
        }
    }

    .border-light {
        @include themify.themify(theme-settings.$themes) {
            border-color:       color.adjust(themify.themed('borderColor'), $lightness: 5%)      !important;
        }
    }

    @each $side in $border-sides {
        .border-#{$side},
        .border-#{$side}-dark   { border-#{$side}: 1px solid            !important }
        .border-#{$side}-none   { border-#{$side}: none                 !important }

        .border-#{$side} {
            @include themify.themify(theme-settings.$themes) {
                border-color:       themify.themed('borderColor')               !important;
            }
        }

        .border-#{$side}-dark {
            @include themify.themify(theme-settings.$themes) {
                border-color:       color.adjust(themify.themed('borderColor'), $lightness: -12%)   !important;
            }
        }

        .border-#{$side}-light {
            @include themify.themify(theme-settings.$themes) {
                border-color:       color.adjust(themify.themed('borderColor'), $lightness: 3%)  !important;
            }
        }
    }
}