@use "sass:map";
@use "../variables/structure";
@use "media-queries";

@use "sass:math";

@mixin make-col($size, $columns: structure.$grid-columns) {
    flex: 0 0 math.percentage(math.div($size, $columns));
    max-width: math.percentage(math.div($size, $columns));
}

@mixin make-grid-columns($columns: structure.$grid-columns, $breakpoints: structure.$grid-breakpoints) {
    %grid-column {
        position: relative;
        width: 100%;
        min-height: 1px;
    }

    @each $breakpoint in map.keys($breakpoints) {
        $infix: media-queries.breakpoint-infix($breakpoint, $breakpoints);

        @for $i from 1 through $columns {
            .col#{$infix}-#{$i} {
                @extend %grid-column;
            }
        }
        .col#{$infix},
        .col#{$infix}-auto {
            @extend %grid-column;
        }

        @include media-queries.media-breakpoint-up($breakpoint, $breakpoints) {
            .col#{$infix} {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }
            .col#{$infix}-auto {
                flex: 0 0 auto;
                width: auto;
                max-width: none;
            }

            @for $i from 1 through $columns {
                .col#{$infix}-#{$i} {
                    @include make-col($i, $columns);
                }
            }

            .order#{$infix}-first { order: -1; }

            .order#{$infix}-last { order: $columns + 1; }

            @for $i from 0 through $columns {
                .order#{$infix}-#{$i} { order: $i; }
            }

        }
    }
}