@use "../variables/structure";

$spacing-sides: all, top, right, bottom, left;

@mixin make-gutters($spacing: 'margin') {
    @for $i from 1 through 10 {
        @each $side in $spacing-sides {
            $spacing-side: #{$spacing}-#{$side};

            @if $side == 'all' {
                $spacing-side: #{$spacing};
            }
            .#{$spacing-side}-#{$i}x { #{$spacing-side}: #{structure.$gutter*$i} !important }

            @if $i == 1 {
                .#{$spacing-side}-none { #{$spacing-side}: 0 !important  }
                .#{$spacing-side}-half { #{$spacing-side}: structure.$gutter-half !important  }
                .#{$spacing-side}-min { #{$spacing-side}: structure.$gutter-min !important  }

                @if $spacing == 'margin' {
                    .#{$spacing-side}-neg-1x { #{$spacing-side}: -(structure.$gutter) !important  }
                    .#{$spacing-side}-neg-half { #{$spacing-side}: -(structure.$gutter-half) !important  }
                    .#{$spacing-side}-neg-min { #{$spacing-side}: -(structure.$gutter-min) !important  }
                }
            }
        }
    }  
}