.cursor-pointer { cursor: pointer !important }

.interactive {
  &:hover {
    @include themify($themes) {
      background-color: themed('colorHover') !important;
    }
    cursor: pointer !important;
  }
}

.interactive-text {
  &:hover {
    @include themify($themes) {
      color: themed('colorHighlight') !important;
    }
    cursor: pointer !important;
  }
}

.opacity-75-percent {
  opacity: 75% !important;
}
.cursor-pointer {
  &:hover {
    .opacity-75-percent {
      opacity: 100% !important;
    }
  }
}
