<div class="lab-container">
  <div class="lab-card" *ngFor="let lab of labsObservable$ | async" (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()">
    <div class="lab-header">
      <h2 (mouseenter)="onMouseEnter()">
        {{ lab.name }}
        <span class="lab-id" *ngIf="isHovered">{{ lab.id }}</span>
      </h2>
      <span class="lab-status" [class.active]="lab.status === 'ACTIVE'" [class.inactive]="lab.status !== 'ACTIVE'">
        {{ lab.status }}
      </span>
    </div>
    <div class="lab-body">
      <p class="lab-description">{{ lab.description }}</p>
      <ul class="lab-details">
        <li><strong>Created By:</strong> {{ lab.createdBy }}</li>
        <li><strong>Version:</strong> {{ lab.version }}</li>
        <li><strong>Capacity:</strong> {{ lab.capacity }}</li>
      </ul>
    </div>
    <div class="lab-footer">
      <p><strong>Created:</strong> {{ lab.createdAt ? formatDate(lab.createdAt) : 'N/A' }}</p>
      <p><strong>Last Modified:</strong> {{ lab.updatedAt ? formatDate(lab.updatedAt) : 'N/A' }}</p>
    </div>
    <div class="lab-actions">
      <!-- Show Spinner while loading -->
      <mat-spinner *ngIf="isLoading$ | async; else buttonContent"></mat-spinner>

      <!-- Button content when not loading -->
      <ng-template #buttonContent>
        <!-- Querying Button -->
        <div class="button-container">
          <button mat-button class="button querying" *ngIf="isLabLoading(lab.id)">
            Querying
          </button>
        </div>

        <!-- Start Button -->
        <div class="button-container">
          <button mat-button class="button start" (click)="startLab(lab.id, loggedInUser)"
            *ngIf="!isLabLoading(lab.id) && (!isInTrackedLabs(lab.id) || getLabStatus(lab.id) === 'STOPPED')">
            Start {{isInTrackedLabs(lab.id)}}
          </button>
        </div>

        <!-- Already Started Button -->
        <div class="button-container" *ngIf="!isLabLoading(lab.id) && (isInTrackedLabs(lab.id) && getLabStatus(lab.id)
          === 'ACTIVE')">
          <button mat-button class="button stop" (click)="stopLab(lab.id, loggedInUser)">
            Stop
          </button>
          <button mat-button class="button stop" (click)="deleteLab(lab.id, loggedInUser)">
            Delete
          </button>
          <button mat-button class="button active" (click)="viewLogs(lab.id)">
            Logs
          </button>
        </div>

        <!-- Offline Button -->
        <div class="button-container">
          <button mat-button class="button offline"
            *ngIf="!isLabLoading(lab.id) && (isInTrackedLabs(lab.id) && getLabStatus(lab.id) === 'OFFLINE')">
            Offline
          </button>
        </div>

        <!-- Stopped Button -->
        <div class="button-container">
          <button mat-button class="button stopped"
            *ngIf="!isLabLoading(lab.id) && (isInTrackedLabs(lab.id) && getLabStatus(lab.id) === 'STOPPED')">
            Stopped
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>