<button mat-button class="button" (click)="clear()">Clear</button>

<div class="lab-container">
  <div class="lab-card" *ngFor="let lab of labsObservable$ | async" (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()" [hidden]="!lab.ready">
    <div class="lab-header">
      <h2 (mouseenter)="onMouseEnter()">
        {{ lab.name }}
        <span class="lab-id" *ngIf="isHovered">{{ lab.id }}</span>
      </h2>
      <span class="lab-status" [class.active]="lab.status === 'ACTIVE'" [class.inactive]="lab.status !== 'ACTIVE'">
        {{ lab.status }}
      </span>
    </div>
    <div class="lab-body">
      <p class="lab-description">{{ lab.description }}</p>
      <ul class="lab-details">
        <li><strong>Created By:</strong> {{ lab.createdBy }}</li>
        <li><strong>Version:</strong> {{ lab.version }}</li>
        <li><strong>Capacity:</strong> {{ lab.capacity }}</li>
        <li><strong>Type:</strong> {{ lab.labType }}</li>
        <li><strong>Loc:</strong> {{ lab.id }}/{{ lab.dockerFile }}</li>
        <li><strong>Status:</strong> {{ getLabStatus(lab.id) }}</li>
        <li><strong>Ready:</strong> {{ lab.ready }}</li>
        <li><strong>isTracked:</strong> {{ isInTrackedLabs(lab.id) }}</li>
      </ul>

      <!-- YAML Upload Box -->
      <div class="upload-box" *ngIf="lab.labType === 'DOCKER_COMPOSE'">
        <label for="dockerComposeUpload">Upload Docker Compose YAML File:</label>
        <input type="file" id="dockerComposeUpload" accept=".yml,.yaml"
          (change)="dockerComposeUpload($event, lab.id!)" />
      </div>
    </div>
    <div class="lab-footer">
      <p><strong>Created:</strong> {{ lab.createdAt ? formatDate(lab.createdAt) : 'N/A' }}</p>
      <p><strong>Last Modified:</strong> {{ lab.updatedAt ? formatDate(lab.updatedAt) : 'N/A' }}</p>
    </div>
    <div class="lab-actions">
      <!-- Show Spinner while loading -->
      <mat-spinner *ngIf="isLoading$ | async; else buttonContent"></mat-spinner>

      <!-- Button content when not loading -->
      <ng-template #buttonContent>
        <div class="button-container">
          <!-- Querying Button -->
          <button mat-button class="button querying" *ngIf="isLabLoading(lab.id)">
            Querying
          </button>

          <!-- Start Button (for specific conditions) -->
          <button mat-button class="button start" (click)="startLab(lab.id, loggedInUser)" *ngIf="!isLabLoading(lab.id) && (!isInTrackedLabs(lab.id) ||
            (getLabStatus(lab.id) === 'STOPPED' ||
            getLabStatus(lab.id) === 'DELETED' ||
            getLabStatus(lab.id) === 'NONE') ||
            getLabStatus(lab.id) === 'FAILED')">
            Start
          </button>

          <!-- Settings Button (for Docker Compose type labs) -->
          <button mat-button class="button start" (click)="getSettings(lab.id, loggedInUser)"
            *ngIf="!isLabLoading(lab.id) && lab.labType === 'DOCKER_COMPOSE'">
            Settings
          </button>

          <!-- Already Started Buttons (Active Lab) -->
          <button mat-button class="button stop" (click)="stopLab(lab.id, loggedInUser)"
            *ngIf="!isLabLoading(lab.id) && (isInTrackedLabs(lab.id) && getLabStatus(lab.id) === 'ACTIVE')">
            Stop
          </button>
          <button mat-button class="button active" (click)="viewLogs(lab.id)"
            *ngIf="!isLabLoading(lab.id) && (isInTrackedLabs(lab.id) && getLabStatus(lab.id) === 'ACTIVE')">
            Logs
          </button>

          <!-- Offline Button -->
          <button mat-button class="button offline"
            *ngIf="!isLabLoading(lab.id) && (isInTrackedLabs(lab.id) && getLabStatus(lab.id) === 'OFFLINE')">
            Offline
          </button>

          <!-- Failed Button -->
          <button mat-button class="button failed"
            *ngIf="!isLabLoading(lab.id) && (isInTrackedLabs(lab.id) && getLabStatus(lab.id) === 'FAILED')">
            Failed
          </button>

          <!-- Stopped Button (with delete option) -->
          <button mat-button class="button stopped"
            *ngIf="!isLabLoading(lab.id) && (isInTrackedLabs(lab.id) && getLabStatus(lab.id) === 'STOPPED')">
            Stopped
          </button>
          <button mat-button class="button stop" (click)="deleteLab(lab.id)"
            *ngIf="!isLabLoading(lab.id) && getLabStatus(lab.id) === 'STOPPED'">
            Delete
          </button>
        </div>
      </ng-template>

    </div>
  </div>
</div>