$border-radius:     4px     !default;
$border-radius-sm:  2px     !default;

$font-family:       'Roboto', Helvetica, Arial sans-serif   !default;
$font-family-light: 'RobotoLight', Helvetica, Arial sans-serif   !default;
$font-family-heavy: 'RobotoMedium', Helvetica, Arial sans-serif   !default;

$font-sm:           .84em   !default;
$font-lg:           1.2em 	!default;
$font-2x:           1.5em   !default;
$font-3x:           2.2em   !default;
$font-4x:           2.6em   !default;
$font-5x:           3em     !default;

$font-light:        300     !default;
$font-heavy:        500     !default;

$line-height:       1.4em   !default;

$classified-high:   'yellow'!default;
$classified-medium: 'red'   !default;
$classified-low:    'green' !default;
