<div *ngIf="question.type === 'number' && !isHidden" class="row width-100-percent form-field-container">
  <mat-form-field floatLabel="always">
    <mat-label>{{ question.label }}</mat-label>
    <input [formControl]="formControl" matInput numberInput>
  </mat-form-field>
</div>

<div *ngIf="question.type === 'text' && !isHidden" class="row width-100-percent form-field-container">
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>{{ question.label }}</mat-label>
    <mat-hint *ngIf="question.hint">{{ question.hint }}</mat-hint>
    <input [formControl]="formControl" matInput maxlength="{{ question.size }}"
      [placeholder]="question.hint ? question.hint : ''">
  </mat-form-field>
  <p class="character-count"
    [ngClass]="formControl.value.length === question.size ? 'character-count-max' : 'character-count-min'">{{
    formControl.value.length }}/{{ question.size }}</p>
</div>

<div *ngIf="question.type === 'password' && !isHidden" class="row width-100-percent form-field-container">
  <mat-form-field floatLabel="always">
    <mat-label>{{ question.label }}</mat-label>
    <input type="password" [formControl]="formControl" matInput maxlength="{{ question.size }}">
  </mat-form-field>
  <p class="character-count"
    [ngClass]="formControl.value.length === question.size ? 'character-count-max' : 'character-count-min'">{{
    formControl.value.length }}/{{ question.size }}</p>
</div>

<div *ngIf="question.type === 'textarea' && !isHidden">
  <mat-form-field floatLabel="always">
    <mat-label>{{ question.label }}</mat-label>
    <textarea rows="3" [formControl]="formControl" matInput maxlength="{{ question.size }}"></textarea>
  </mat-form-field>
  <p class="character-count"
    [ngClass]="formControl.value.length === question.size ? 'character-count-max' : 'character-count-min'">{{
    formControl.value.length }}/{{ question.size }}</p>
</div>

<div *ngIf="question.type === 'dropdown' && !isHidden" class="row width-100-percent">
  <mat-form-field floatLabel="always">
    <mat-label>{{ question.label }}</mat-label>
    <mat-select [formControl]="formControl" #dropdownMenu>
      <mat-option *ngFor="let ent of question.options" class="option" [value]="ent.value">
        {{ ent.key }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="question.type === 'popup' && !isHidden" class="row width-100-percent">
  <mat-form-field floatLabel="always">
    <mat-label>{{ question.label }}</mat-label>
    <input matInput [formControl]="formControl" (click)="handleAction($event)" readonly />
  </mat-form-field>
</div>

<div *ngIf="question.type === 'radio' && !isHidden" class="row width-100-percent">
  <mat-label>{{ question.label }}</mat-label>
  <mat-radio-group [formControl]="formControl">
    <mat-radio-button *ngFor="let option of question.options" [value]="option.value"
      (change)="handleMatRadioSelect($event, option.value)">
      {{ option.key }}
    </mat-radio-button>
  </mat-radio-group>
</div>

<div *ngIf="question.type === 'checkbox' && !isHidden" class="row width-100-percent">
  <mat-label>{{ question.label }}</mat-label>
  <div *ngFor="let option of question.options2">
    <mat-checkbox [checked]="formControl.value.includes(option.key)" (change)="checkboxChange($event, option.key)">
      {{ option.value }}
    </mat-checkbox>
  </div>
</div>

<div *ngIf="question.type === 'uploadbox' && !isHidden" class="row width-100-percent">
  <div class="dropzone" appDragDrop (fileDropped)="onFileDropped($event)">
    <mat-label>{{ question.label }}</mat-label>

    <div class="dropzone-content" *ngIf="!file">
      <input type="file" #fileInput id="file-input" (change)="onFileSelected($event)" accept=".yml,.yaml" />
      <img src="assets/upload-file.svg" alt="Upload Icon">
      <h3 class="file-text">Drag and drop file here</h3>
      <h3 class="file-text">or</h3>
      <label id="file-label" for="file-input">Browse for file</label>
    </div>

    <div *ngIf="file" class="file-item">
      <p class="file-name">{{ file.name }}</p>
      <button mat-button (click)="removeFile()">Remove</button>
    </div>
  </div>
  <button mat-button *ngIf="question.key === 'dockerFile'" (click)="validateYaml()">Validate</button>
</div>

<div *ngFor="let kv of question.dependentQuestions | keyvalue">
  <div *ngIf="formControl.value && kv.key!==undefined && formControl.value === kv.key">
    <app-dialog-question [question]="kv.value"></app-dialog-question>
  </div>
</div>