.lab-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.lab-card {
    color: black;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-align: center;

    &:hover {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
        /* Slightly increase size on hover */
    }

    .button {
        background-color: #004d03;
        color: white;
        padding: 10px 20px;
        border: 2px solid black;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 14px;
      }

    h2 {
        font-size: 1.25rem;
        margin: 0;
        color: #333;
        position: relative;
    }

    p {

    }

    img {
        height: 20%;
        width: 20%;
        margin-right: 20rem;
    }

    .lab-body {
        padding: 0.75rem;

        .lab-description {
            font-size: 1rem;
            color: #666;
            margin-bottom: 0.75rem;
        }

        .lab-details {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 0.9rem;
                color: #555;
                margin-bottom: 0.5rem;

                strong {
                    color: #333;
                }
            }
        }
    }

    .lab-footer {
        background-color: #f9f9f9;
        padding: 0.75rem;
        font-size: 0.85rem;
        color: #888;
        border-top: 1px solid #ddd;

        p {
            margin: 0.5rem 0;
        }
    }
}

.lab-ready {
    background-color: #4caf50;
}
