input[type=text] {
    width: 100%;

    &.read-only {
        background: transparent;
        border: none;
    }
}

input,
textarea {
    &.non-mat-field {
        @include themify($themes) {
            background-color: themed('inputBgColor');
            border-color: themed('inputBorderColor');
            border-bottom-color: themed('inputBorderColorAlt');
            font-size: themed('fontSize');
            font-weight: themed('fontWeight');
        }
        @include border-radius();
        border: 1px solid;
        font-family: $font-family;
        padding: .3em;
        width: 100%;

        &:disabled {
            @include themify($themes) {
                background-color: themed('colorDisabled');
                border-color: themed('borderColor');
                color: themed('textColorDisabled');
            }
        }
    }
}

input {
    &.non-mat-field {
        height: 1.9em;
    }
}

textarea {
    height: 5em;
    resize: none;

    &.height-2x {
        height: 10em;
    }
}
