.mat-slide-toggle {
    // overrides
    height: auto;
    line-height: $line-height;

    .mat-slide-toggle-label {
        .mat-slide-toggle-bar {
            // overrides
            @include themify($themes) {
                background-color: themed('borderColor');
                height: themed('fontSize');
			}
            @include border-radius();
            //background: darken($input-border-color, 10%);

            .mat-slide-toggle-thumb-container {
                // overrides
                height: 1.3em;
                width: 1.3em;

                .mat-slide-toggle-thumb {
                    // overrides
                    @include themify($themes) {
                        background-color: lighten(themed('borderColor'), 3%);
                        font-size: themed('fontSize');
                    }
                    height: 1.3em;
                    margin-top: 1px;
                    width: 1.3em;
                }
            }
        }
        .mat-slide-toggle-content {
            // overrides
            @include themify($themes) {
                color: themed('textColor');
                font-size: themed('fontSize');
                font-weight: themed('fontSize');
			}
            font-family: $font-family;
        }
    }

    &.mat-checked:not(.mat-disabled) {
        .mat-slide-toggle-bar {
            // overrides
            @include themify($themes) {
                background-color: lighten(themed('colorActive'), 5%);
			}

            .mat-slide-toggle-thumb-container {
                .mat-slide-toggle-thumb {
                    // overrides
                    @include themify($themes) {
                        background-color: lighten(themed('colorActive'), 20%);
                    }
                }
            }
        }
    }
}