.mat-autocomplete-panel {
  @include themify($themes) {
    @include shadow(themed('shadowColor'), 0, 1px, 3px, 0);
    background-color: themed('popoverBgColor');
    color: themed('textColor');
  }

  .mat-option {
    @include themify($themes) {
      color: themed('textColor');
      font-size: themed('fontSize');
    }
    font-family: $font-family;
    height: auto;
    line-height: 1.2em;
    padding: $gutter;

    &.mat-selected {
      @include themify($themes) {
        background-color: themed('colorFocus') !important;
        color: themed('textColor') !important;
      }

      &:hover {
        @include themify($themes) {
          background-color: lighten(themed('colorFocus'), 3%) !important;
        }
      }
    }

    &:hover,
    &.mat-active {
      @include themify($themes) {
        background-color: themed('colorHover') !important;
      }
    }
  }
}
