.mat-datepicker-content {
  display: inline-block;

  .mat-calendar {
    @include themify($themes) {
      background: themed('popoverBgColor');
      color: themed('textColor');
      font-size: themed('fontSize');
      font-weight: themed('fontWeight');
    }
    font-family: $font-family;
    height: 27em !important;

    .mat-calendar-header {
      .mat-calendar-controls {
        margin: 0 0 $gutter 0;

       .mat-icon-button {
         &:after {
           height: $gutter-half;
           left: calc(50% - .3em);
           margin: 0;
           top: calc(50% - .3em);
           width: $gutter-half;
         }

         &.mat-calendar-previous-button {
           &:after {
             transform: rotate(-45deg);
           }
         }

         .mat-calendar-next-button::after {
           &:after {
             transform: rotate(45deg);
           }
         }
       }
      }
    }

    .mat-calendar-content {
      .mat-calendar-table {
        .mat-calendar-table-header {
          @include themify($themes) {
            color: themed('textColorLight');
          }

          th {
            font-size: $font-sm;
          }
        }

        .mat-calendar-body {
          @include themify($themes) {
            font-size: themed('fontSize');
          }

          .mat-calendar-body-label {
            @include themify($themes) {
              color: themed('textColorLight');
            }
            font-size: $font-lg;
          }

          .mat-calendar-body-cell {
            .mat-calendar-body-cell-content {
              @include themify($themes) {
                color: themed('textColor');
              }
            }
            .mat-calendar-body-selected {
              @include themify($themes) {
                background-color: themed('colorActive');
              }
              color: #FFF !important;
            }
            .mat-calendar-body-today:not(.mat-calendar-body-selected) {
              @include themify($themes) {
                border-color: themed('borderColor');
              }
            }

          }
        }
      }
    }
  }
}