%mat-button {
    @include themify($themes) {
        font-size: themed('fontSize') !important;
    }
    border: 1px solid transparent !important;

    &:disabled {
        // overrides
        @include themify($themes) {
            background-color: themed('colorDisabled') !important;
            border-color: themed('colorDisabled') !important;
            color: themed('textColorDisabled') !important;
        }
    }

    &:not([class*=mat-elevation-z]) {
        // overrides
        @include themify($themes) {
            @include shadow(themed('shadowColor'), 0, 1px, 3px, 0);
        }
    }

    &.mat-primary,
    &.mat-accent,
    &.mat-success,
    &.mat-warn {
        @include themify($themes) {
            color: #FFF !important;
        }

        &:disabled {
            // overrides
            @include themify($themes) {
                background-color: themed('colorDisabled') !important;
                color: themed('textColorDisabled') !important;
            }
        }

        &:focus {
            @include themify($themes) {
                border: 1px dotted themed('colorFocus') !important;
            }
        }
    }
    &.mat-primary {
        // overrides
        @include themify($themes) {
            background-color: themed('buttonColor') !important;
            border-color: themed('buttonColor');
            color: themed('textColor') !important;
        }
    }
    &.mat-accent {
        // overrides
        @include themify($themes) {
            background-color: themed('colorAccent') !important;
            border-color: themed('colorAccent');
        }
    }
    &.mat-success {
        // overrides
        @include themify($themes) {
            background-color: themed('colorSuccess') !important;
            border-color: themed('colorSuccess');
        }
    }
    &.mat-warn {
        // overrides
        @include themify($themes) {
            background-color: themed('colorWarn') !important;
            border-color: themed('colorWarn');
        }
    }
    &.transparent-button {
        // added
        @include themify($themes) {
            background: transparent !important;
            border-color: transparent !important;
            box-shadow: none !important;
            color: themed('textColorHyperlink') !important;
        }

        .mat-button-wrapper {
            vertical-align: middle;
            align-items: center;
            display: inline-flex;

            .mat-icon {
                margin-right: $gutter-half;
            }
        }

        &:disabled {
            @include themify($themes) {
                background-color: transparent !important;
                color: themed('textColorDisabled') !important;
            }
        }

        &:focus {
            @include themify($themes) {
                border: 1px dotted themed('colorFocus') !important;
            }
        }
    }

    &.padding-none {
        padding: 0 !important;
    }

    &.text-sm {
        font-size: $font-sm !important;
    }
}

.mat-fab,
.mat-icon-button {
    .mat-icon {
        height: 1.2em;
        line-height: 1em !important;
        width: 1.2em !important;
    }
}

.mat-fab,
.mat-mini-fab {
    @extend %mat-button;
    align-items: center;
    display: inline-flex !important;
    justify-content: center;

    // added
    display: inline-flex !important;

    // overrides
    height: 2.6em !important;
    width: 2.6em !important;

    .mat-button-wrapper {
        // added
        align-items: center;
        justify-content: center;

        // overrides
        display: inline-flex !important;
        padding: 0 !important;
    }
}

.mat-mini-fab {
    // overrides
    height: 2em !important;
    width: 2em !important;

    .mat-icon {
        font-size: 1em !important;
        height: 1em !important;
        width: 1em !important;
    }

    &.transparent-button {
        .mat-icon {
            margin-right: 0 !important;
        }
    }
}

.mat-button,
.mat-flat-button,
.mat-raised-button,
.mat-stroked-button {
    @extend %mat-button;

    // overrides
    @include themify($themes) {
        background-color: themed('buttonColor');
        color: themed('textColor');
        font-weight: themed('fontWeight') !important;
    }
    @include border-radius($border-radius !important);
    font-family: $font-family !important;
    line-height: 1em !important;
    min-width: auto !important;
    padding: $gutter !important;

    .mat-icon {
        margin: -$gutter-min 0;
    }

    &.dense {
        padding: $gutter-half !important;
    }
}

.mat-stroked-button {
    &.mat-primary,
    &.mat-accent,
    &.mat-warn {
        @include themify($themes) {
            background-color: themed('buttonColor') !important;
            color: themed('textColor') !important;
        }
    }
    &.mat-primary {
        // overrides
        @include themify($themes) {
            border-color: themed('colorSuccess') !important;
        }
    }
    &.mat-accent {
        // overrides
        @include themify($themes) {
            border-color: themed('colorAccent') !important;
        }
    }
    &.mat-warn {
        // overrides
        @include themify($themes) {
            border-color: themed('colorWarn') !important;
        }
    }
}

.mat-icon-button {
    // added
    background: transparent !important;
    box-shadow: none !important;

    // overrides
    @include themify($themes) {
        color: themed('textColorHyperlink') !important;
    }
    height: 2.6em !important;
    line-height: 1em !important;
    padding: 0 !important;
    width: 2.6em !important;

    &:not([class*=mat-elevation-z]) {
        // added
        box-shadow: none !important;
    }

    &.mat-primary {
        // overrides
        @include themify($themes) {
            color: themed('textColor') !important;
        }
        background: transparent !important;
    }
    &.mat-accent {
        // overrides
        @include themify($themes) {
            color: themed('colorAccent') !important;
        }
        background: transparent !important;
    }
    &.mat-success {
        // overrides
        @include themify($themes) {
            color: themed('colorSuccess') !important;
        }
        background: transparent !important;
    }
    &.mat-warn {
        // overrides
        @include themify($themes) {
            color: themed('colorWarn') !important;
        }
        background: transparent !important;
    }

    &:disabled {
        // overrides
        @include themify($themes) {
            color: themed('textColorDisabled') !important;
        }
    }

    &:focus {
        @include themify($themes) {
            border: 1px dotted themed('colorFocus') !important;
        }
    }
}
