.mat-radio-button {
    .mat-radio-label {
        .mat-radio-container {
            // overrides
            width: 1em;
            height: 1em;

            .mat-radio-outer-circle {
                // overrides
                @include themify($themes) {
                    border-color: themed('inputBorderColorAlt');
                }
                border-width: 1px;
                height: 1em;
                width: 1em;
            }

            .mat-radio-inner-circle {
                // overrides
                height: 1em;
                width: 1em;
            }
        }

        .mat-radio-label-content {
            // overrides
            padding-left: $gutter-half;
        }
    }

    &.cdk-focused {
        .mat-radio-label {
            .mat-radio-container {
                @include themify($themes) {
                    outline: 1px dotted themed('colorFocus') !important;
                }
            }
        }
    }

    &.mat-accent {
        &.mat-radio-checked {
            .mat-radio-outer-circle {
                // overrides
                @include themify($themes) {
                    border-color: themed('colorActive');
                }
            }
        }

        .mat-radio-inner-circle {
            // overrides
            @include themify($themes) {
                background-color: themed('colorActive');
            }
        }
    }

    &.mat-primary {
        &.mat-radio-checked {
            .mat-radio-outer-circle {
                // overrides
                @include themify($themes) {
                    border-color: themed('colorAccent');
                }
            }
        }

        .mat-radio-inner-circle {
            // overrides
            @include themify($themes) {
                background-color: themed('colorAccent');
            }
        }
    }

    &.mat-warn {
        &.mat-radio-checked {
            .mat-radio-outer-circle {
                // overrides
                @include themify($themes) {
                    border-color: themed('colorWarn');
                }
            }
        }

        .mat-radio-inner-circle {
            // overrides
            @include themify($themes) {
                background-color: themed('colorWarn');
            }
        }
    }

    &.mat-radio-disabled {
        .mat-radio-outer-circle {
            // overrides
            @include themify($themes) {
                border-color: themed('colorDisabled') !important;
            }
        }
        .mat-radio-inner-circle {
            // overrides
            @include themify($themes) {
                background-color: themed('textColorDisabled') !important;
            }
        }
        .mat-radio-label-content {
            // overrides
            @include themify($themes) {
                color: themed('textColorDisabled');
            }
        }
    }
}

.mat-radio-group {
    &.stacked-radio-list {
        display: flex;
        flex-direction: column;

        .mat-radio-button {
            padding: $gutter-half $gutter;

            .mat-radio-label {
                .mat-radio-container {
                    margin-right: $gutter-half;
                }
            }
        }
    }
}
