.mat-checkbox {
    .mat-checkbox-layout {
        .mat-checkbox-inner-container {
            // overrides
            height: 1.2em;
            margin: auto;
            margin-right: $gutter;
            width: 1.2em;

            .mat-checkbox-background,
            .mat-checkbox-frame {
                // overrides
                @include border-radius($border-radius-sm);
            }

            .mat-checkbox-frame {
                // overrides
                @include themify($themes) {
                    background: themed('inputBgColor');
                    border-color: darken(themed('inputBorderColorAlt'), 15%) themed('inputBorderColorAlt') themed('inputBorderColorAlt') darken(themed('inputBorderColorAlt'), 15%);
                }
                border-width: 1px;
            }

            .mat-checkbox-checkmark-path {
                @include themify($themes) {
                    stroke: themed('inputBgColor') !important;
                }
            }

            &.mat-checkbox-inner-container-no-side-margin {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }

    &.cdk-focused {
        .mat-checkbox-frame {
            @include themify($themes) {
                outline: 1px dotted themed('colorFocus') !important;
            }
        }
    }

    &.mat-checkbox-checked {
        .mat-checkbox-layout {
            .mat-checkbox-inner-container {
                .mat-checkbox-checkmark-path {
                    stroke: #FFF !important;
                }
            }
        }

        &.mat-accent {
            .mat-checkbox-background {
                // overrides
                @include themify($themes) {
                    background-color: themed('colorActive');
                }
            }
        }

        &.mat-checkbox-disabled {
            .mat-checkbox-inner-container {
                .mat-checkbox-background {
                    // overrides
                    @include themify($themes) {
                        background-color: themed('colorDisabled') !important;
                    }

                    .mat-checkbox-mixedmark {
                        // overrides
                        @include themify($themes) {
                            color: themed('textColorDisabled') !important;
                        }
                    }
                }
            }
        }
    }

    &.mat-checkbox-indeterminate {
        &.mat-accent {
            .mat-checkbox-background {
                // overrides
                @include themify($themes) {
                    background-color: themed('colorActive');
                }
            }
        }
    }

    &.mat-checkbox-disabled {
        .mat-checkbox-inner-container {
            .mat-checkbox-frame {
                // overrides
                @include themify($themes) {
                    border-color: themed('borderColor');
                }
            }
        }
        .mat-checkbox-label {
            // overrides
            @include themify($themes) {
                color: themed('textColorDisabled') !important;
            }
        }
    }

    &.mat-checkbox-label-before {
        .mat-checkbox-layout {
            .mat-checkbox-inner-container {
                margin-right: auto;
                margin-left: $gutter;
            }
        }
    }
}

.mat-pseudo-checkbox {
    // overrides
    @include themify($themes) {
        background: themed('inputBgColor');
        border-color: darken(themed('inputBorderColorAlt'), 15%) themed('inputBorderColorAlt') themed('inputBorderColorAlt') darken(themed('inputBorderColorAlt'), 15%);
    }
    @include border-radius($border-radius-sm !important);
    border-width: 1px !important;
    height: 1.2em !important;
    width: 1.2em !important;

    &.mat-pseudo-checkbox-checked,
    &.mat-pseudo-checkbox-indeterminate {
        // overrides
        @include themify($themes) {
            background-color: themed('colorActive');
        }
        border-color: transparent !important;
    }

    &.mat-pseudo-checkbox-disabled {
        // overrides
        @include themify($themes) {
            border-color: themed('borderColor') !important;
        }
    }

    &.mat-pseudo-checkbox-checked,
    &.mat-pseudo-checkbox-indeterminate {
        &.mat-pseudo-checkbox-disabled {
            // overrides
            @include themify($themes) {
                background-color: themed('colorDisabled') !important;
            }
        }
    }

    &.mat-pseudo-checkbox-checked {
        &::after {
            // overrides
            height: .297em;
            top: 2px;
            width: .72em;
        }
    }

    &.mat-pseudo-checkbox-indeterminate {
        &::after {
            // overrides
            top: .5em;
            left: 1px;
            width: .8em;
        }
    }
}

.checkbox-button {
    @include themify($themes) {
        background: themed('bgColorLight');
        border-color: themed('borderColor');
    }
    @include border-radius();
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 0 $gutter;

    &.mat-checkbox-checked {
        @include themify($themes) {
            background-color: themed('colorActive');
            border-color: themed('colorActive');
        }
        color: #FFF;

        &.mat-accent {
            .mat-checkbox-background {
                @include themify($themes) {
                    background-color: lighten(themed('colorActive'), 15%) !important;
                }
            }
        }
    }
}
