<button mat-button (click)="editUsers()" *ngIf="(loggedInUser$ | async)">Edit Users</button>
<div *ngIf="users.length > 0; else noUsers">
  <div *ngFor="let user of users">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ user.username }}</h5>
        <p class="card-text">Team: {{ user.team?.name ?? 'Not Assigned...' }}</p>
        <p class="card-text">Role: {{ user.role }}</p>
      </div>
    </div>
  </div>

  <div class="ff">
    <ag-grid-angular class="ag-theme-dark h100 w100" [rowData]="users" [columnDefs]="getColumnDefs()"  [gridOptions]="gridOptions">
    </ag-grid-angular>
  </div>
  <mat-dialog-actions align="end">
  <input #importJson class="file-input" accept="*.json" (change)="importUserJson($event)" type="file">
  <button mat-button aria-label="Import Users" color="primary" (click)="importJson.click()">
    <mat-icon fontSet="material-symbols-outlined"upload></mat-icon>
    Import
  </button>
  
  <button mat-button aria-label="Export Users" color="primary" (click)="exportUsers()">
    <mat-icon fontSet="material-symbols-outlined"upload></mat-icon>
    Export
  </button>
  
  <button mat-button aria-label="Add Users" color="primary" (click)="addUser()">
    <mat-icon fontSet="material-symbols-outlined"add></mat-icon>
    User
  </button>
  
  </mat-dialog-actions>
</div>



<ng-template #noUsers>
  <div class="no-users">
    <p>No users available.</p>
  </div>
</ng-template>