<div class="dashboard" *ngIf="!isLoading else spinner">
  <h1>Lab Tracker Dashboard</h1>

  <!-- Docker Services Section -->
  <div class="service-list" *ngIf="labTracker?.remoteServer?.serverType === ServerType.DOCKER_HOST">
    <div *ngFor="let service of labTracker?.services" class="service-card">
      <h2>{{ service.name }}</h2>
      <p><strong>Status:</strong> {{ service.state }}</p>
      <p><strong>IP Addresses:</strong>
        <span *ngFor="let ip of service.ipAddresses; let last = last">
          {{ ip }}<span *ngIf="!last">, </span>
        </span>
      </p>
      <p><strong>Networks:</strong>
        <span *ngFor="let network of service.networks; let last = last">
          {{ network }}<span *ngIf="!last">, </span>
        </span>
      </p>
      <p><strong>Ports:</strong>
        <span *ngFor="let port of service.ports; let last = last">
          {{ port }}<span *ngIf="!last">, </span>
        </span>
      </p>
      <p><strong>Volumes:</strong></p>
      <ul>
        <li *ngFor="let volume of service.volumes">
          <div *ngFor="let vol of volume | keyvalue">
          - {{ vol.key }} - {{ vol.value}}<br>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="labTracker?.labStatus === 'FAILED' && ymlData">
    <amaterasu-settings-configure [ymlData]="ymlData" [labTracker]="labTracker"></amaterasu-settings-configure>
  </div>

  <!-- Proxmox VMs Section -->
  <div class="proxmox-list" *ngIf="labTracker?.remoteServer?.serverType === ServerType.PROXMOX">
    <h2>Proxmox Virtual Machines</h2>
    <div *ngFor="let vm of labTracker?.vms" class="vm-card">
      <h3>{{ vm.name }}</h3>
      <p><strong>VM ID:</strong> {{ vm.vmid }}</p>
      <p><strong>Status:</strong> {{ vm.status }}</p>
      <p><strong>Uptime:</strong> {{ vm.uptime! | duration }} </p>
      <p><strong>Memory Usage:</strong>
        {{ (vm.mem! / 1073741824) | number:'1.2-2' }}/
        {{ (vm.maxmem! / 1073741824) | number:'1.2-2' }} GB
      </p>
      <p><strong>CPU Usage:</strong> {{ vm.cpu | percent }} ({{ vm.cpus }} CPU{{ vm.cpus! > 1 ? 's' : '' }})</p>
      <p><strong>Template:</strong> {{ vm.template ? 'Yes' : 'No' }}</p>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="spinner-container">
    <mat-progress-spinner mode="indeterminate" diameter="50" color="primary">
    </mat-progress-spinner>
  </div>
</ng-template>