* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-init-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.form-container {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-field-container {
    margin-bottom: 16px;
}

mat-form-field {
    width: 100%;
}

mat-label { 
    color: black
}

.button-container {
    display: flex;
    justify-content: center;
}