@include themifyColor(toast, background, 'green');

.toasts {
  position: fixed;
  right: 3.5em;
  top: 0;
  z-index: 100;

  .toast {
    @include themify($themes) {
      @include shadow(themed('shadowColor'), 1px, 2px, 3px, 0);
    }
    @include border-radius();
    color: #FFF;
    display: flex;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    top: 40px;
    transition: top 0.3s ease, opacity 0.6s ease;
    width: 20em;

    .mat-icon-button {
      color: #FFF !important;
      margin: -#{$gutter-min};
      position: sticky;
      right: 0;
      top: 0;
    }

    .mat-icon {
      opacity: .5;

      &:first-child {
        margin: $gutter-half;
        position: sticky;
        right: 0;
        top: $gutter-half;
      }
    }

    .message {
      flex: 1 1 auto;
      padding-left: $gutter-half;

      li {
        border-top: 1px solid rgba(255, 255, 255, .2);
        padding: $gutter-half 0;
        word-break: break-word;

        &:first-child {
          border: none;
        }
      }
    }

    &.active {
      margin-top: $gutter;
      max-height: 40vh;
      opacity: 1;
      overflow-y: auto;
      padding: $gutter;
      top: 0;
    }

    &.fade {
      opacity: 0;
      top: -1.6em;
    }

    &.info {
      @include themify($themes) {
        background-color: themed('colorPrimary');
      }
    }

    &.warn {
      @include themify($themes) {
        background-color: themed('colorWarn');
      }
    }
  }
}
