.breadcrumbs {
    font-size: $font-sm;

    li {
        display: inline-block;
        margin: 0 $gutter-half;

		&:after {
			@include themify($themes) {
				color: themed('textColorLight');
			}
			content: "/\00a0";
			padding-left: $gutter;
		}

		&:first-child {
            margin-left: 0;
        }

		&:last-child {
			a {
				@include themify($themes) {
					color: themed('colorActive');
				}
				cursor: default;
			}

			&:after {
				display: none;
			}
        }
    }
}