// added
.menu-button {
    &.mat-raised-button.mat-primary {
        @include themify($themes) {
            background: themed('buttonColor') !important;
            border-color: themed('borderColor');
        }
        border: 1px solid;
        box-shadow: none !important;
        padding: $gutter-half $gutter !important;

        .mat-button-wrapper {
            align-items: center;
            display: inline-flex;
        }
    }
}

.mat-menu-panel {
    // overrides
    @include themify($themes) {
        background-color: themed('popoverBgColor');
        @include shadow(themed('shadowColor'), 0, 1px, 3px, 0);
    }
    @include border-radius();
    min-width: 8em;
    max-width: inherit !important;

    .mat-menu-content {
        // overrides
        padding-top: 0;
        padding-bottom: 0;

        .mat-menu-item {
            @include themify($themes) {
                font-size: themed('fontSize');
                font-weight: themed('fontWeight');
                color: themed('textColor');
            }
            align-items: center;
            background-color: transparent;
            display: flex;
            height: auto;
            line-height: $line-height;
            padding: $gutter-half $gutter;

            .mat-icon {
                // overrides
                margin-right: $gutter;
            }

            &:disabled {
                @include themify($themes) {
                    background-color: themed('colorDisabled');
                    color: themed('textColorDisabled');
                }

                .mat-icon {
                    @include themify($themes) {
                        color: themed('textColorDisabled');
                    }
                }

                &:hover {
                    @include themify($themes) {
                        background-color: themed('colorDisabled');
                    }
                }
            }

            &:hover {
                // added
                @include themify($themes) {
                    background-color: themed('colorHover');
                }
            }
        }

        &:not(:empty) {
            padding: .4em 0;
        }
    }

    .mat-divider {
        // added
        display: none;
    }

    &.app-nav {
        @include themify($themes) {
            background-color: darken(themed('popoverBgColor'), 3%);
        }
        margin-left: 0;
        max-width: initial;
        width: 100vw;

        .mat-menu-content {
            display: flex;
            padding: 1em;

            .mat-menu-item {
                @include border-radius();
                @include themify($themes) {
                    border-color: darken(themed('popoverBgColor'), 3%);
                }
                align-items: center;
                border: 1px solid;
                display: flex;
                flex-direction: column;
                height: 130px;
                justify-content: center;
                margin: $gutter-half;
                width: 130px;

                img {
                    margin-bottom: $gutter;
                    width: 70%;
                }

                .mat-icon {
                    margin: 0 0 $gutter-half 0;
                }

                &.selected {
                    @include themify($themes) {
                        @include shadow(themed('shadowColor'), 0, 1px, 3px, 0);
                        background-color: darken(themed('popoverBgColor'), 1%);
                        border-color: themed('borderColorDark');
                    }
                }
            }
        }
        &.app-nav-multi-row {
            .mat-menu-content {
                flex-direction: column;
            }
        }
        &.app-nav-images {
            .mat-menu-item {
                justify-content: start;
                text-align: center;

                .img-container {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    height: 75%;
                }
            }
        }

    }

}

// Sometimes there is only one item in a menu
.cdk-overlay-container .mat-menu-panel {
    min-height: unset;
}
