.mat-tab-group {    
    .mat-tab-header {
        // overrides
        @include themify($themes) {
            border-bottom-color: darken(themed('borderColor'), 3%);
        }
        
        border-bottom: 1px solid;

        .mat-tab-label-container {    
            .mat-tab-list {
                .mat-tab-labels {
                    // overrides
                    @include themify($themes) {
                        font-size: themed('fontSize');
                    }

                    .mat-tab-label {
                        // added
                        @include themify($themes) {
                            background-color: themed('bgColorDark2') !important;
                            color: themed('textColor');
                            font-size: themed('fontSize');
                            font-weight: themed('fontWeight');
                            line-height: themed('fontSize');
                        }
                        @include border-top-radius();
                        align-items: center;
                        font-family: $font-family;
                        margin: 0 $gutter-half 0 0;

                        // overrides
                        flex: 0 0 auto;
                        height: auto;
                        opacity: 1;
                        padding: $gutter #{$gutter * 1.6};
                        min-width: auto;
                        white-space: normal;

                        &.mat-tab-label-active {
                            // added
                            @include themify($themes) {
                                background-color: themed('colorActive') !important;
                            }
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }

    &.mat-tab-group-inverted-header {
        .mat-tab-nav-bar, .mat-tab-header {
            // overrides
            @include themify($themes) {
                border-top-color: darken(themed('borderColor'), 12%);
            }
            border-bottom: none;
            border-top: 1px solid;

            .mat-tab-label-container {      
                .mat-tab-list {
                    .mat-tab-labels {
                        .mat-tab-label {
                            // added
                            // remove rounded corners and spacing between tabs set above
                            @include border-top-radius(0);
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    &.mat-primary {
        .mat-ink-bar {
            // overrides
            // hide bar underlining active tab
            display: none;
        }
    }

    &.tab-group-right-aligned {
        .mat-tab-header {
            .mat-tab-labels {
                justify-content: flex-end;
            }
        }
    }

    // added
    &.tab-group-stretched {
        .mat-tab-header {
            .mat-tab-label-container {
                .mat-tab-list {
                    .mat-tab-labels {
                        .mat-tab-label {
                            flex: 1 1 auto;
                        }
                    }
                }
            }
        }
    }

    // added
    &.tab-group-vertical {
        flex-direction: row;

        .mat-tab-header {
            @include themify($themes) {
                background-color: themed('bgColorDark2') !important;
            }
            border: none;
            flex: 1 1 auto;

            .mat-tab-label-container {    
                .mat-tab-list {
                    .mat-tab-labels {
                        flex-direction: column;

                        .mat-tab-label {
                            @include themify($themes) {
                                background-color: themed('bgColorDark') !important;
                                border-bottom-color: themed('borderColor');
                                color: themed('textColor');
                            }
                            @include border-top-radius(0);
                            border-bottom: 1px solid;
                            justify-content: flex-start;
                            margin: 0;
                            padding: $gutter;
    
                            .mat-tab-label-content {
                                .mat-icon-button {
                                    @include themify($themes) {
                                        background-color: darken(themed('colorActive'), 2%) !important;
                                    }
                                    @include border-radius(0 !important);
                                    color: #FFF !important;
                                    margin: -#{$gutter * .6} 0;

                                    &:first-child {
                                        margin-left: -#{$gutter * .8};
                                    }
                                    &:last-child {
                                        margin-right: $gutter;
                                    }
                                }
                            }

                            &.mat-tab-label-active {
                                @include themify($themes) {
                                    background-color: lighten(themed('colorActive'), 4%) !important;
                                }
                                color: #FFF;
                                position: relative;

                                &::after {
                                    @include themify($themes) {
                                        background-color: themed('bgColorLight');
                                    }
                                    content: '';
                                    height: #{$gutter * 2};
                                    position: absolute;
                                    right: -$gutter;
                                    transform: rotate(45deg);
                                    top: #{$gutter * .8};
                                    width: #{$gutter * 2};
                                }

                                .mat-tab-label-content {
                                    .mat-icon-button {
                                        @include themify($themes) {
                                            background-color: lighten(themed('colorActive'), 2%) !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .mat-tab-body-wrapper {
            @include themify($themes) {
                background-color: themed('bgColorLight');
            }
            flex: 3 3 auto;
            padding: #{$gutter * 2};
        }
    }
}
